*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    background-color: rgb(56, 56, 56);
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items{
    color: white;
    font-size: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    
}
.items li{
    list-style-type: none;
   
}
.photo{
    width: 120px;
}
.items :hover{
    color: blue;
}
.photoone{
    width: 340px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url('./images/background.png'),linear-gradient(45deg, rgb(10, 7, 7), black);
    color: white;
}
.banner-title{
    font-size: 56px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 700;
}
.banner-desc{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.btn{
    padding: 12px 20px 12px 20px;
    color: white;
    background-color: rgb(204, 35, 35);
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
.about-title{
    font-size: 42px;
    margin-bottom: 35px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}
.about-container{
    margin-top: 100px;
    margin-bottom: 40px;
}
/* about section */
.photo-three{
    width: 340px;
}
.abt-title{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(84, 83, 83);
}
.abt-desc{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
}
.btn:hover{
    color: rgb(15, 15, 232);
}
.about{
    display: flex;
    justify-content: space-around;
}
/* services */
.our{
    margin-top: 100px;
    padding-top: 70px;
}
.card{
    width: 300px;
    box-shadow: 4px 4px 15px rgb(91, 88, 88);
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
.photo-four{
    width: 120px;
}
.service-title{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
.service-desc{
    font-size: 18px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 400;
}
.btns{
    background-color: gray;
}
.service-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.box-line{
    background-image: url(".../images/background.png"),
    linear-gradient(45deg,rgb(92, 91, 91),#000);
    padding-bottom: 80px;
    /* background-image: url('./images/background.png'), linear-gradient(45deg, gray gray); */
}
.footer-container{
    background-color: #000;
    padding-top: 130px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}
.foot-desc{
    margin-top: 30px;
}
.foot-title{
    font-size: 24px;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-weight: 700;
}
.footer-desc{
    font-size: 16px;
    margin-bottom: 7px;
    font-family: sans-serif;
    font-weight: 400;
}
.hori{
    border-bottom: 2px solid white;
    padding: 4px;
}
footer{
    background: #000;
}
.copyright{
    color: white;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
}
